.u-block-2895-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2895-3 {
  position: absolute;
  left: 0;
}

.u-block-2895-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/Screenshotfrom2024-07-0710-22-02.png');
  background-position: 0% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 281px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 31px auto 0;
}

.u-section-1-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 62px auto 0 266px;
  padding: 8px 36px 9px 35px;
}

.u-section-1-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -47px auto 60px 671px;
  padding: 10px 22px 11px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 166px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 133px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 43px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/Screenshotfrom2024-07-0708-52-14.png');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 313px 86px 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 22px auto 0;
}

.u-section-1-2 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 78px auto 0 235px;
  padding: 8px 36px 9px 35px;
}

.u-section-1-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -47px 298px 60px auto;
  padding: 10px 22px 11px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 35px;
  }

  .u-section-1-2 .u-btn-2 {
    margin-right: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
  }
}